<a href="https://colab.research.google.com/github/gbiamgaurav/Feature-Engineering/blob/main/Count_Frequency_Distribution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

`Count or Frequency Encoding`

In [1]:
import pandas as pd
import numpy as np

In [3]:
url = 'https://raw.githubusercontent.com/krishnaik06/Feature-Engineering-Live-sessions/master/mercedes.csv'

In [4]:
df = pd.read_csv(url, usecols=['X1', 'X2'])
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [5]:
df.shape

(4209, 2)

In [6]:
### One hot encoding

pd.get_dummies(df).shape

(4209, 71)

In [7]:
len(df['X1'].unique())

27

In [8]:
len(df['X2'].unique())

44

In [9]:
### lets have a look at how many labels

for col in df.columns[0:]:
  print(col, ":", len(df[col].unique()), 'labels')

X1 : 27 labels
X2 : 44 labels

In [10]:
df.X2.value_counts().to_dict()

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'k': 25,
 'i': 25,
 'b': 21,
 'ao': 20,
 'ag': 19,
 'z': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'al': 5,
 'an': 5,
 'q': 5,
 'av': 4,
 'ah': 4,
 'p': 4,
 'au': 3,
 'am': 1,
 'j': 1,
 'af': 1,
 'l': 1,
 'aa': 1,
 'c': 1,
 'o': 1,
 'ar': 1}

In [12]:
len(df['X2'].unique())

44

In [13]:
### we make a dictionary that maps each label to the counts

df_frequency_map = df.X2.value_counts().to_dict()

In [15]:
df.X2.head()

0      6
1      4
2    137
3    137
4    137
Name: X2, dtype: int64

In [16]:
df.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137

In [14]:
df.X2 = df.X2.map(df_frequency_map)

df.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137

### Advantages 

1. It is very easy to implement

2. Does not increase the feature dimensional space

### Disadvantages

1. If some of the labels have the same count, then they will be replaced with the same count and they will loose some valuable information

2. Adds somewhat arbitary numbers, and therefore weights to the different labels, that may be related to their predictive power.