<a href="https://colab.research.google.com/github/gbiamgaurav/Feature-Engineering/blob/main/Ordinal_Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### `Ordinal numbering encoding or Label encoding`

In [1]:
import pandas as pd
import datetime

In [3]:
df_base = datetime.datetime.today()
df_date_list = [df_base - datetime.timedelta(days=x) for x in range(0, 20)]
df = pd.DataFrame(df_date_list)

df.columns = ['Day']
df.head()

                         Day
0 2022-08-28 16:02:56.547520
1 2022-08-27 16:02:56.547520
2 2022-08-26 16:02:56.547520
3 2022-08-25 16:02:56.547520
4 2022-08-24 16:02:56.547520

In [5]:
### Extract the week day name
df['Day_of_week'] = df['Day'].dt.day_name()
df.head()

                         Day Day_of_week
0 2022-08-28 16:02:56.547520      Sunday
1 2022-08-27 16:02:56.547520    Saturday
2 2022-08-26 16:02:56.547520      Friday
3 2022-08-25 16:02:56.547520    Thursday
4 2022-08-24 16:02:56.547520   Wednesday

In [6]:
### Engineer categorical variable by ordinal number replacement

weekday_map = {'Monday': 1,
               'Tuesday': 2, 
               'Wednesday': 3,
               'Thursday': 4,
               'Friday': 5,
               'Saturday': 6,
               'Sunday': 7}

In [10]:
df['Day_ordinal'] = df.Day_of_week.map(weekday_map)
df.head(10)

                         Day Day_of_week  Day_ordinal
0 2022-08-28 16:02:56.547520      Sunday            7
1 2022-08-27 16:02:56.547520    Saturday            6
2 2022-08-26 16:02:56.547520      Friday            5
3 2022-08-25 16:02:56.547520    Thursday            4
4 2022-08-24 16:02:56.547520   Wednesday            3
5 2022-08-23 16:02:56.547520     Tuesday            2
6 2022-08-22 16:02:56.547520      Monday            1
7 2022-08-21 16:02:56.547520      Sunday            7
8 2022-08-20 16:02:56.547520    Saturday            6
9 2022-08-19 16:02:56.547520      Friday            5