<a href="https://colab.research.google.com/github/gbiamgaurav/Feature-Engineering/blob/main/Ordinal_Number_Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### `Ordinal Number Encoding`

In [1]:
import datetime

In [2]:
today_date = datetime.datetime.today()

In [3]:
today_date

datetime.datetime(2022, 8, 28, 4, 32, 43, 430343)

In [4]:
today_date - datetime.timedelta(1)

datetime.datetime(2022, 8, 27, 4, 32, 43, 430343)

In [5]:
### List Comprehension

[today_date - datetime.timedelta(x) for x in range(0, 15)]

[datetime.datetime(2022, 8, 28, 4, 32, 43, 430343),
 datetime.datetime(2022, 8, 27, 4, 32, 43, 430343),
 datetime.datetime(2022, 8, 26, 4, 32, 43, 430343),
 datetime.datetime(2022, 8, 25, 4, 32, 43, 430343),
 datetime.datetime(2022, 8, 24, 4, 32, 43, 430343),
 datetime.datetime(2022, 8, 23, 4, 32, 43, 430343),
 datetime.datetime(2022, 8, 22, 4, 32, 43, 430343),
 datetime.datetime(2022, 8, 21, 4, 32, 43, 430343),
 datetime.datetime(2022, 8, 20, 4, 32, 43, 430343),
 datetime.datetime(2022, 8, 19, 4, 32, 43, 430343),
 datetime.datetime(2022, 8, 18, 4, 32, 43, 430343),
 datetime.datetime(2022, 8, 17, 4, 32, 43, 430343),
 datetime.datetime(2022, 8, 16, 4, 32, 43, 430343),
 datetime.datetime(2022, 8, 15, 4, 32, 43, 430343),
 datetime.datetime(2022, 8, 14, 4, 32, 43, 430343)]

In [6]:
days = [today_date - datetime.timedelta(x) for x in range(0, 15)]

In [7]:
import pandas as pd
data = pd.DataFrame(days)
data.columns = ["Day"]

In [8]:
data.head()

                         Day
0 2022-08-28 04:32:43.430343
1 2022-08-27 04:32:43.430343
2 2022-08-26 04:32:43.430343
3 2022-08-25 04:32:43.430343
4 2022-08-24 04:32:43.430343

In [9]:
data.head()

                         Day
0 2022-08-28 04:32:43.430343
1 2022-08-27 04:32:43.430343
2 2022-08-26 04:32:43.430343
3 2022-08-25 04:32:43.430343
4 2022-08-24 04:32:43.430343

In [10]:
data['Weekday']=data['Day'].dt.day_name()

In [11]:
data.head()

                         Day    Weekday
0 2022-08-28 04:32:43.430343     Sunday
1 2022-08-27 04:32:43.430343   Saturday
2 2022-08-26 04:32:43.430343     Friday
3 2022-08-25 04:32:43.430343   Thursday
4 2022-08-24 04:32:43.430343  Wednesday

In [13]:
dictionary = {'Monday': 1, 'Tuesday': 2, 'Wednesday': 3, 'Thursday': 4, 'Friday': 5, 'Saturday': 6, 'Sunday': 7}

In [14]:
dictionary

{'Monday': 1,
 'Tuesday': 2,
 'Wednesday': 3,
 'Thursday': 4,
 'Friday': 5,
 'Saturday': 6,
 'Sunday': 7}

In [16]:
data['Weekday'].map(dictionary)

0     7
1     6
2     5
3     4
4     3
5     2
6     1
7     7
8     6
9     5
10    4
11    3
12    2
13    1
14    7
Name: Weekday, dtype: int64

In [17]:
data['Weekday_ordinal'] = data['Weekday'].map(dictionary)

In [18]:
data.head()

                         Day    Weekday  Weekday_ordinal
0 2022-08-28 04:32:43.430343     Sunday                7
1 2022-08-27 04:32:43.430343   Saturday                6
2 2022-08-26 04:32:43.430343     Friday                5
3 2022-08-25 04:32:43.430343   Thursday                4
4 2022-08-24 04:32:43.430343  Wednesday                3

#### `Count or frequency Encoding`

In [19]:
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'

In [20]:
df = pd.read_csv(url , header = None,index_col=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [21]:
df.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], dtype='int64')

In [22]:
df[1].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [23]:
len(df[1].unique())

9

In [24]:
columns = [1,3,5,6,7,8,9,13]

In [28]:
df=df[columns]

In [29]:
df.columns = ['Employment', 'Degree', 'Marital_status', 'Occupation', 'Family_job', 'Race', 'Sex', 'Country']

In [30]:
df.head()

,Employment,Degree,Marital_status,Occupation,Family_job,Race,Sex,Country
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba

In [32]:
### Find out how many categories in each feature 

for feature in df.columns[:]:
  print(feature, ":", len(df[feature].unique()), 'labels')

Employment : 9 labels
Degree : 16 labels
Marital_status : 7 labels
Occupation : 15 labels
Family_job : 6 labels
Race : 5 labels
Sex : 2 labels
Country : 42 labels

In [33]:
df['Country'].value_counts()

 United-States                 29170
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: Country, dtype: int64

In [35]:
country_map = df['Country'].value_counts().to_dict()

In [36]:
df['Country'] = df['Country'].map(country_map)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [37]:
df.head()

,Employment,Degree,Marital_status,Occupation,Family_job,Race,Sex,Country
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,29170
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,29170
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,29170
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,29170
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,95

#### Advantages :-  
* Easy to use
* Not increasing any feature space


#### Disadvantages :-  
* It will provide same weight if the frequencies are same

#### `Target guided ordinal Encoding`

* Ordering the labels according to the target
* Replace the labels by the joint probability of being 1 or 0

In [38]:
url = 'https://raw.githubusercontent.com/krishnaik06/Feature-Engineering-Live-sessions/master/titanic.csv'

In [39]:
import pandas as pd
df = pd.read_csv(url, usecols=['Cabin', 'Survived'])
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [40]:
df['Cabin'].fillna('Missing', inplace=True)
df.head()

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing

In [41]:
df.head(20)

    Survived    Cabin
0          0  Missing
1          1      C85
2          1  Missing
3          1     C123
4          0  Missing
5          0  Missing
6          0      E46
7          0  Missing
8          1  Missing
9          1  Missing
10         1       G6
11         1     C103
12         0  Missing
13         0  Missing
14         0  Missing
15         1  Missing
16         0  Missing
17         1  Missing
18         0  Missing
19         1  Missing

In [43]:
df['Cabin'] = df['Cabin'].astype(str).str[0]

In [44]:
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [45]:
df.Cabin.unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [48]:
df.groupby(['Cabin'])['Survived'].mean()*100

Cabin
A    46.666667
B    74.468085
C    59.322034
D    75.757576
E    75.000000
F    61.538462
G    50.000000
M    29.985444
T     0.000000
Name: Survived, dtype: float64

In [50]:
df.groupby(['Cabin'])['Survived'].mean().sort_values().index

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [51]:
ordinal_labels = df.groupby(['Cabin'])['Survived'].mean().sort_values().index

In [52]:
ordinal_labels

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [54]:
ordinal_labels2 = {k:i for i, k in enumerate(ordinal_labels, 0)}

In [55]:
ordinal_labels2

{'T': 0, 'M': 1, 'A': 2, 'G': 3, 'C': 4, 'F': 5, 'B': 6, 'E': 7, 'D': 8}

In [56]:
df['Cabin_ordinal_labels'] = df['Cabin'].map(ordinal_labels2)
df.head()

   Survived Cabin  Cabin_ordinal_labels
0         0     M                     1
1         1     C                     4
2         1     M                     1
3         1     C                     4
4         0     M                     1

#### `Mean Encoding`

In [63]:
mean_ordinal = df.groupby(['Cabin'])['Survived'].mean().to_dict()

In [64]:
mean_ordinal

{'A': 0.4666666666666667,
 'B': 0.7446808510638298,
 'C': 0.5932203389830508,
 'D': 0.7575757575757576,
 'E': 0.75,
 'F': 0.6153846153846154,
 'G': 0.5,
 'M': 0.29985443959243085,
 'T': 0.0}

In [65]:
df['mean_ordinal_encode'] = df['Cabin'].map(mean_ordinal)

In [66]:
df.head()

   Survived Cabin  Cabin_ordinal_labels  mean_ordinal_encode
0         0     M                     1             0.299854
1         1     C                     4             0.593220
2         1     M                     1             0.299854
3         1     C                     4             0.593220
4         0     M                     1             0.299854

####