<a href="https://colab.research.google.com/github/gbiamgaurav/Feature-Engineering/blob/main/Probability_Ratio_Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### `Probability Ratio Encoding`

1. Probability of Survived based on Cabin -- Categorical Features
2. Probability of Not Survived -- 1 - pr(Survived)
3. pr(Survived)/pr(Not Survived)
4. Dictionary to map Cabin with probability
5. Replace / map with the categorical feature

In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/krishnaik06/Feature-Engineering-Live-sessions/master/titanic.csv'

In [3]:
df = pd.read_csv(url, usecols=['Cabin', 'Survived'])
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [6]:
### Replacing NAN values with `Missing`

df['Cabin'].fillna('Missing', inplace=True)
df.head()

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing

In [7]:
df.head(20)

    Survived    Cabin
0          0  Missing
1          1      C85
2          1  Missing
3          1     C123
4          0  Missing
5          0  Missing
6          0      E46
7          0  Missing
8          1  Missing
9          1  Missing
10         1       G6
11         1     C103
12         0  Missing
13         0  Missing
14         0  Missing
15         1  Missing
16         0  Missing
17         1  Missing
18         0  Missing
19         1  Missing

In [8]:
df['Cabin'].unique()

array(['Missing', 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [9]:
df['Cabin'] = df['Cabin'].astype(str).str[0]

In [10]:
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [11]:
df.Cabin.unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [16]:
### Check the missing value %
df.groupby(['Cabin'])['Survived'].mean()*100

Cabin
A    46.666667
B    74.468085
C    59.322034
D    75.757576
E    75.000000
F    61.538462
G    50.000000
M    29.985444
T     0.000000
Name: Survived, dtype: float64

In [14]:
df.groupby(['Cabin'])['Survived'].mean().sort_values().index

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [17]:
prob_df = df.groupby(['Cabin'])['Survived'].mean()

In [18]:
prob_df = pd.DataFrame(prob_df)
prob_df

       Survived
Cabin
A      0.466667
B      0.744681
C      0.593220
D      0.757576
E      0.750000
F      0.615385
G      0.500000
M      0.299854
T      0.000000

In [19]:
prob_df['Died'] = 1 - prob_df['Survived']

In [20]:
prob_df.head()

       Survived      Died
Cabin
A      0.466667  0.533333
B      0.744681  0.255319
C      0.593220  0.406780
D      0.757576  0.242424
E      0.750000  0.250000

In [21]:
prob_df['Probability_ratio'] = prob_df['Survived']/prob_df['Died']

In [22]:
prob_df.head()

       Survived      Died  Probability_ratio
Cabin
A      0.466667  0.533333           0.875000
B      0.744681  0.255319           2.916667
C      0.593220  0.406780           1.458333
D      0.757576  0.242424           3.125000
E      0.750000  0.250000           3.000000

In [23]:
prob_df['Probability_ratio'].to_dict()

{'A': 0.875,
 'B': 2.916666666666666,
 'C': 1.4583333333333333,
 'D': 3.125,
 'E': 3.0,
 'F': 1.6000000000000003,
 'G': 1.0,
 'M': 0.42827442827442824,
 'T': 0.0}

In [24]:
probability_encoded = prob_df['Probability_ratio'].to_dict()

In [25]:
df['Cabin_encoded']=df['Cabin'].map(probability_encoded)

In [26]:
df.head()

   Survived Cabin  Cabin_encoded
0         0     M       0.428274
1         1     C       1.458333
2         1     M       0.428274
3         1     C       1.458333
4         0     M       0.428274

In [27]:
df.head(20)

    Survived Cabin  Cabin_encoded
0          0     M       0.428274
1          1     C       1.458333
2          1     M       0.428274
3          1     C       1.458333
4          0     M       0.428274
5          0     M       0.428274
6          0     E       3.000000
7          0     M       0.428274
8          1     M       0.428274
9          1     M       0.428274
10         1     G       1.000000
11         1     C       1.458333
12         0     M       0.428274
13         0     M       0.428274
14         0     M       0.428274
15         1     M       0.428274
16         0     M       0.428274
17         1     M       0.428274
18         0     M       0.428274
19         1     M       0.428274